<navbar></navbar>

<div class="col-md-12">
  <div class="col-md-12 mb-10">
    <div class="text-right">
      <div class="w200px">
        <div ng-if="action == 'create'">
          <select id="category" name="categories" class="form-control" ng-model="example.code" ng-options="example.code as example.name for example in examples" ng-change="exampleChanged()" data-placeholder-text-single="Seleccionar" no-results-text="No hay" chosen>
            <option value="">Seleccionar Ejemplo</option>
          </select>
        </div>
      </div>
      <span ng-click="validate()" class="btn btn-warning">Validar</span>
      <span ng-click="reject()" class="btn btn-danger" ng-if="currentUser.role == 'admin'">Rechazar</span>
      <span ng-click="approve()" class="btn btn-success" ng-if="currentUser.role == 'admin'">Aprobar</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12">
          <form role="form" name="form" ng-submit="submit()" novalidate class="form-validation">
            <fieldset  ng-disabled="disabled">
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Nombre</label>
                <input ng-model="item.name" id="name" name="name" type="text" placeholder="Zapatilla Nike" class="form-control input-md" required>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="model">Modelo</label>
                <input ng-model="item.model" id="model" name="model" type="text" placeholder="Runner" class="form-control input-md" required>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="brand">Marca</label>
                <input ng-model="item.brand" id="brand" name="brand" type="text" placeholder="Nike" class="form-control input-md" >
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input ng-model="item.price" type="text" class="form-control" id="price" placeholder="9990">
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="stock">Stock</label>
                <div class="input-group">
                  <div class="input-group-addon">u</div>
                  <input ng-model="item.stock" type="text" class="form-control" id="stock" placeholder="100">
                </div>
              </div>
              <!-- Textarea -->
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea ng-model="item.description" class="form-control" id="description" name="description"></textarea>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="photo_name">Foto 1</label>
                <input ng-model="item.ProductImages[0].name" id="photo_name" name="photo_name" type="text" placeholder="Zapatilla" class="form-control input-md mb-5">
                <input ng-model="item.ProductImages[0].url" id="url" name="url" type="text" placeholder="www.misfotos.com/zapatilla-nike-1.png" class="form-control input-md">
                <img class="thumbnail" ng-src="{{item.ProductImages[0].url}}"/>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="photo_name">Foto 2</label>
                <input ng-model="item.ProductImages[1]['name']" id="photo_name" name="photo_name" type="text" placeholder="Zapatilla" class="form-control input-md mb-5">
                <input ng-model="item.ProductImages[1]['url']" id="url" name="url" type="text" placeholder="www.misfotos.com/zapatilla-nike-2.png" class="form-control input-md">
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="photo_name">Foto 3</label>
                <input ng-model="item.ProductImages[2]['name']" id="photo_name" name="photo_name" type="text" placeholder="Zapatilla" class="form-control input-md mb-5">
                <input ng-model="item.ProductImages[2]['url']" id="url" name="url" type="text" placeholder="www.misfotos.com/zapatilla-nike-3.png" class="form-control input-md">
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <div class="text-right">
                  <button type="submit" id="save" name="save" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div ng-show="action == 'edit'">
          <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>
        </div>

        <div ng-if="validation.name.spellCheck.flaggedTokens.length" class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>¡Atención!.</strong> Al parecer tienes uno o más errores ortográficos en el nombre del producto:
          <div class="cb"></div>
          <div ng-repeat="err in validation.name.spellCheck.flaggedTokens">
            Donde dice <strong>{{err.token}}</strong> te sugerimos usar <strong>{{err.suggestions[0].suggestion}}</strong>
          </div>
        </div>
        <div ng-if="validation.description.spellCheck.flaggedTokens.length" class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>¡Atención!.</strong> Al parecer tienes uno o más errores ortográficos en la descripción del producto:
          <div class="cb"></div>
          <div ng-repeat="err in validation.description.spellCheck.flaggedTokens">
            Donde dice <strong>{{err.token}}</strong> te sugerimos usar <strong>{{err.suggestions[0].suggestion}}</strong>
          </div>
        </div>
        <div ng-if="validation" class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>¡Atención!.</strong> Verifica que el nombre, la descripción y las imágenes estén relacionadas:
          <div class="cb"></div>
          En el nombre del producto hablas de:
          <span ng-repeat="key in validation.name.keyPhrase.documents[0].keyPhrases">
            <strong>{{key}}</strong>
            <span ng-if="$index < validation.name.keyPhrase.documents[0].keyPhrases.length-1">,</span>
          </span>
        </br>
          En la descripción del producto hablas de:
          <span ng-repeat="key in validation.description.keyPhrase.documents[0].keyPhrases">
            <strong>{{key}}</strong>
            <span ng-if="$index < validation.description.keyPhrase.documents[0].keyPhrases.length-1">,</span>
          </span>
        </br>
          En las imágenes se muestran 
          <span ng-repeat="key in validation.imagenValidations[0].analysis.description.tags">
            <strong>{{key}}</strong>
            <span ng-if="$index < validation.imagenValidations[0].analysis.description.tags.length - 1">,</span>
          </span>
        </div>
      </div>

      {{ validation | json }}

    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="cb"></div>
        <div ng-show="action == 'edit'">
        <simple-chat ng-if="user"
            messages="messages"
            local-user="user",
            show-user-avatar="true",
            show-bubble-infos="false",
            send-function="send",
            send-button-text="Enviar",
            composer-placeholder-text="Escribe aquí..."
        ></simple-chat>
        </div>
      </div>
    </div>
  </div>
</div>