<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
          <form role="form" name="form" ng-submit="submit()" novalidate class="form-validation">
            <fieldset  ng-disabled="disabled">
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Nombre</label>
                <input ng-model="item.name" id="name" name="name" type="text" placeholder="Zapatilla Nike" class="form-control input-md" required>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Modelo</label>
                <input ng-model="item.model" id="name" name="name" type="text" placeholder="Runner" class="form-control input-md" required>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Marca</label>
                <input ng-model="item.brand" id="name" name="name" type="text" placeholder="Nike" class="form-control input-md" >
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="exampleInputAmount">Precio</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input ng-model="item.price" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
              </div>
              <!-- Textarea -->
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea ng-model="item.description" class="form-control" id="description" name="description"></textarea>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Foto 1</label>
                <input ng-model="item.photos[0]" id="name" name="name" type="url" placeholder="www.misfotos.com/zapatilla-nike-1.png" class="form-control input-md">
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Foto 2</label>
                <input ng-model="item.photos[1]" id="name" name="name" type="url" placeholder="www.misfotos.com/zapatilla-nike-2.png" class="form-control input-md">
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label for="name">Foto 3</label>
                <input ng-model="item.photos[2]" id="name" name="name" type="url" placeholder="www.misfotos.com/zapatilla-nike-3.png" c class="form-control input-md">
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <div class="text-right">
                  <button type="submit" id="save" name="save" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-right">
      <span ng-click="reject()" class="btn btn-danger">Rechazar</span>
      <span ng-click="approve()" class="btn btn-success">Aprobar</span>
    </div>
  </div>
</div>